body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}


/* green color -> #5f9341 */

input {
    width: 100%;
    padding: 7px 10px;
    box-sizing: border-box;
    border: 1px solid #5f9341;
}

button {
    margin: 5px 0px;
    border-color: #5f9341;
    border-radius: 1px;
    border: none;
    padding: 10px 20px;
    background-color: #5f9341;
    color: white;
    font-weight: bold;
}